/*general styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* styling for header */
header {
    background-image: linear-gradient(to left, navy , rgb(0, 153, 255));
}

h1 {
    color: white;
    margin: auto;
    padding: 20px;
    text-align: center;
}

/* styling for fetch button */

p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}

.current-day {
    background-color: gray;
    margin-top: 15px;
    color: white;
    border: 5px solid #0d6efd!important;
}

.card {
    background-color: gray;
    padding: 30px;
    margin: 15px;
    border: 5px solid #0d6efd!important;
    color: white;
    height: 250px;
    
}

.search-area {
    margin-top: 15px;
}

.card-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.city-button {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    width: 181px;
    color: white;
    background-color: gray;

}